# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**У завданні пропонується за допомогою Pandas відповісти на декілька запитань за даними репозиторію UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качати дані не треба – вони вже є в репозиторії) .**

Унікальні значення ознак (більше інформації за посиланням вище):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [154]:
import pandas as pd

In [155]:
data = pd.read_csv("datasets/adult_data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків та жінок (ознака *sex*) представлено у цьому наборі даних?**

In [156]:
data.sex.value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [157]:
int(round(data[data.sex == "Female"].age.mean(), 0))

37

**3. Яка частка громадян Німеччини (ознака *native-country*)?**

In [158]:
# Option 1

round(data["native-country"].value_counts(normalize=True)["Germany"], 5)

0.00421

In [159]:
# Option 2

round(data[data["native-country"] == "Germany"].shape[0] / data.shape[0], 5)

0.00421

**4-5. Які середні значення та середньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) та тих, хто отримує менше 50K на рік?**

In [160]:
data.groupby("salary")["age"].describe()[["mean", "std"]]

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Чи правда, що люди, які здобувають більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* або *Doctorate*)**

In [161]:
high_educations = {
    "Bachelors",
    "Prof-school",
    "Assoc-acdm",
    "Assoc-voc",
    "Masters",
    "Doctorate",
}
rich_people_educations = data[data.salary == ">50K"].education.unique()
set(rich_people_educations).difference(high_educations) == 0

False

**7. Виведіть статистику віку для кожної раси (ознака *race*) та кожної статі. Використовуйте *groupby* та *describe*. Знайдіть у такий спосіб максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [162]:
race_age_stats = data.groupby(["race", "sex"])["age"].describe()
race_age_stats

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [163]:
int(race_age_stats.loc[("Amer-Indian-Eskimo", "Male"), "max"])

82

**8. Серед кого більша частка заробляючих багато (> 50K): серед одружених чи неодружених чоловіків (ознака *marital-status*)? Одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent або Married-AF-spouse), решту вважаємо неодруженими.**

In [164]:
data["is_married"] = data["marital-status"].str.startswith("Married")
grouped = data[data.sex == "Male"].groupby("is_married")["salary"].value_counts(normalize=True)

print(f"Are married men richer in average? - {grouped[:, '>50K'].idxmax()}")

Are married men richer in average? - True

**9. Яка максимальна кількість годин людина працює на тиждень (ознака *hours-per-week*)? Скільки людей працюють така кількість годин і який серед них відсоток заробляє багато?**

In [165]:
max_hours_per_week = data["hours-per-week"].max()
print(f"Max hours per week: {max_hours_per_week}")

max_hpw_workers = data[data["hours-per-week"] == max_hours_per_week]
print(f"Number of workers with {max_hours_per_week} hours per week: {max_hpw_workers.shape[0]}")

print(
    f"Percentage of rich people among them is {int(round(max_hpw_workers.salary.value_counts(normalize=True)['>50K'] * 100, 0))}%"
)

Max hours per week: 99
Number of workers with 99 hours per week: 85
Percentage of rich people among them is 29%

**10. Порахуйте середній час роботи (*hours-per-week*) заробляючих мало і багато (*salary*) для кожної країни (*native-country*).**

In [166]:
data.groupby(["native-country", "salary"])["hours-per-week"].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64